.App{
  text-align: center;
}

.PAGE1{
  height: 100vh;
  width: 200vh;
  background-color: rgb(133, 16, 187);
  color: yellow;
  font-size: 5rem;
  font-weight: bolder;
  font-style: normal;  
}

.PAGE2{
  height: 100vh;
  background-color: rgb(28, 187, 7);
  color: rgb(255, 0, 0);
  font-size: 5rem;
  font-weight: bolder;
  font-style: normal; 
}

.PAGE3{
  height: 100vh;
  background-color: rgb(34, 235, 218);
  color: black;
  font-size: 5rem;
  font-weight: bolder;
  font-style: normal;
}

.top-btn{
  position: fixed;
  bottom: 15px;
  right: 20px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgb(245, 248, 67);
  cursor: pointer;
}

.top-btn:hover{
  background-color: rgb(15, 238, 126);
  color:white;
}


